<!doctype html>
<head>                
<title>Movie Filter!</title>     
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>     
<body class="content">                   
    <div>
        <h2>FIND YOUR MOVIE</h2>                                      
        <p>
            <h6>Hey there! Need recommendations on what to watch? 
                <br> Don't worry we got you covered, press the button to find your new favourite movie.
            </h6>          
        </p>        
        <div>      
            <form action="{{ url_for('search') }}" method="GET">
                <button type="submit"><span></span>Start Now</button>
            </form>      
        </div>  
    </div>            
</body>          