<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Filter</title>
    <link rel="stylesheet" href="styles.css">
</head>     
<body>
    <div class="container">
        <h1>Movie Filter</h1>               
        <form>
            <label for="type">Select Type:</label>
            <select id="type" name="type">
                <option value="movie">Movie</option>
                <option value="series">Series</option>
            </select>    

            <label for="title">Enter Title:</label>
            <input type="text" id="title" name="title" placeholder="Type a movie or series title">

            <button type="submit">Find My Movie</button>
        </form>
    </div>
    <ul>               
        {% if start == 0 %}      
            {% if jsonObj == "" %}                                     
                <p>
                    <br>  
                    <h5>No results found, please try a different input.</h5>    
                </p>
            {% else %}
                {% set count = namespace(value=1) %} 
                {% for item in jsonObj %} 
                    {% if (count.value - 1)%9 == 0 %}  
    <div class="row"> <div class="column">   
                    {% else %}
        <div class="column">       
                    {% endif %} 
                    {% if item['primaryImage']['url'] != null %}
                        <li><img src="{{ item['primaryImage']['url'] }}" alt="{{ item['titleText']['text'] }}"></li>
                    {% else %}
                        <li><img src="{{ url_for('static', filename='no-image.png') }}" alt="{{ item['titleText']['text'] }}"></li>
                    {% endif %}
                    <p>                   
                        <h5>{{ item['titleText']['text'] }}</h5>  
                        <font size="-2"><br><b>Rating:</b> {{ item['ratingsSummary']['aggregateRating'] }}
                        <br><b>Release year:</b> {{ item['releaseYear']['year'] }}
                        <p>  
                        <br><b>Description:</b>
                    {% if item['plot'] != None %} 
                        {{ item['plot']['plotText']['plainText'] }}
                    {% endif %}
                    </font></p></p>      
                    {% if count.value%9 == 0 and count.value > 0 %}
        </div> 
    </div>              
                    {% else %}      
</div>
                    {% endif %}
                    {% set count.value = count.value + 1 %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
</body>
</html>